* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: 300;
    background-color: #eaeaea;
	margin: 0;
}

#mount-point {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    max-width: 1200px;
    width: 100%;
}

.App__header {
    text-align: center;
    font-weight: 500;
    color: grey;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
}

.edit-inner {
    margin: 0 auto;
    float: none;
}

.VideoList {
    margin-top: 30px;
}

.VideoItem {
    margin-bottom: 25px;
}


@-moz-keyframes loadAnim {
      from { background-position: 0px 0px; }
      to {background-position: -6142px 0px;}
}

@-ms-keyframes loadAnim {
      from { background-position: 0px 0px; }
      to {background-position: -6142px 0px;}
}

@-webkit-keyframes loadAnim {
      from { background-position: 0px 0px; }
      to {background-position: -6142px 0px;}
}


.VideoItem iframe {
    position: relative;
}

.loading {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    margin: auto;
    width: 74px;
    height: 74px;
    background: url(../images/loadingSprite.png) 0px 0px no-repeat;
    -webkit-animation: loadAnim 2.5s steps(83) infinite;
    -moz-animation: loadAnim 2.5s steps(83, end) infinite;
    -ms-animation: loadAnim 2.5s steps(83, end) infinite;
}